@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@theme {
  --color-orange-500: #F05B24;

  --font-primary: 'Karla', sans-serif;
}

.swiper-pagination {
  bottom: -5px !important;
}

/* di globals.css / style.css */
.layanan-swiper .swiper-button-next,
.layanan-swiper .swiper-button-prev {
  color: white;
  top: 50%;
  transform: translateY(-50%);
}





